/* Global */
html, body {
    font-family: "Arial", sans-serif;
    height: 100%;
    margin: 0;
    overflow-x: hidden;
}
  
#particle-canvas {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgb(10, 10, 50) 0%, rgb(60, 10, 60) 100%);
    z-index: -1;
}

/* Navbar */
.navbar {
    background-color: #f8f9fa;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 1030;
    padding: 15px 0;
}

.navbar-brand {
    font-weight: bold;
    color: #007bff;
}

.nav-link {
    color: #007bff;
}

.navbar-nav .nav-item .dropdown-menu {
    padding: 10px;
}

/* Icons in Navbar */
.navbar .fa {
    margin-right: 5px;
}

/* Section */
section {
    padding: 60px 0;
    background-color: rgba(237, 237, 240, 0.9);
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 40px 0;
}

#home, #wellness-journal, #nutrition-diet, #workout-recommendations, #calculator, #links {
    margin-top: 40px;
    margin-bottom: 40px;
}

h1, h2, h3, h4, h5 {
    color: #333;
}

/* Specific Section */
#home {
    text-align: center;
}

video {
    max-width: 100%;
    height: auto;
}

/* calculators */
input[type="number"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 80px;
}

form {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 10px;
}
  
.btn {
  padding: 10px 20px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: #43a047;
}

.btn.reset {
  background-color: #f44336;
}

.btn.reset:hover {
  background-color: #e53935;
}

.result-section {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.result-section div {
  padding: 10px 30px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin: 0 5px;
  flex: 1;
  text-align: center;
}

.result-section div.active {
  background-color: #4caf50;
  color: white;
  font-weight: bold;
}

button:hover {
  background-color: #45a049;
}

#bmr-result, #calories-result {
  margin-top: 10px;
}

/* Carousel */
#wellness-carousel, #recipe-carousel, #pre-workout-carousel, #post-workout-carousel {
    background-color: #f8f9fa;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.carousel-control-prev, .carousel-control-next {
    padding: 0.5rem;
    background-color: #fff;
    color: #007bff;
    opacity: .3;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.carousel-control-prev {
    left: 1%;
}

.carousel-control-next {
    right: 1%;
}

.carousel-control-prev-icon, .carousel-control-next-icon {
    width: 50px;
    height: 50px;
}

#recipe-count {
    color: #333;
    font-size: 1em;
    margin-top: 10px;
}

/* Recipe Card */
.card {
    text-align: center;
    max-width: 300px;
    margin: auto;
    background-color: rgb(237, 237, 240);
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.card-img-top {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.carousel-control-prev, .carousel-control-next {
    width: 5%;
}

/* Modal */
.modal-body img {
    display: block;
    max-width: 100%;
    height: auto;
    margin: 0 auto;
    border: black;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

/* Footer */
footer {
    background-color: #f8f9fa;
    color: #333;
    padding: 20px 0;
    font-size: 0.9em;
}

.github-links {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}

.github-link {
    text-align: center;
    font-size: 0.9em;
}

.github-link img {
    margin-bottom: 5px;
    width: 20px;
    height: 20px;
}

/* Utility */
.text-center {
    text-align: center;
}

.py-3 {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.container {
    width: 85%;
    margin: auto;
    overflow: hidden;
}

#loom-companion-mv3 {
    display: none;
}